@import "../../assets/scss/variables.scss";
.container {
    left: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0.5rem;
    background-color: $mainTheme;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link {
    text-decoration: none;
    color: white;
}
.active {
    text-decoration: underline;
}
