.headline {
    font-size: 1.5rem;
}
.subheadline {
    font-size: 1.2rem;
}
.container {
    width: 80vw;
    background-color: white;
    text-align: center;
}
.button {
    font-size: 1rem;
    margin: 0.5rem;
}
